@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #bd5d38;
  --white: #fff;
  --line-gray: #e7eae8;
  --gray-dark: #343a40;
  --primary: #bd5d38;
  --secondary: #6c757d;
}

html,
body {
  font-family: "Saira", sans-serif;
  line-height: 1.15;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: "Saira", sans-serif;
  color: var(--secondary);
}
