@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #bd5d38;
  --white: #fff;
  --line-gray: #e7eae8;
  --gray: #ffffff80;
  --profile-border: #ffffff33;
  --icon-bg: #495057;
  --gray-dark: #343a40;
  --primary: #bd5d38;
  --secondary: #6c757d;
  --yellow: #ffc107;
}

html,
body {
  font-family: "Saira", sans-serif;
  line-height: 1.15;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  color: var(--gray-dark);
  font-weight: 600;
  line-height: 1.2;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 3rem !important;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--gray-dark);
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #343a40;
  font-weight: 800;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 400;
  color: var(--secondary);
  margin-top: 1rem;
}
